---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "./ui/card";

import type { BoardMetaData } from "../lib/data";
import SearchBar from "./SearchBar.tsx";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

export interface Props {
  boards: BoardMetaData[];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { boards } = Astro.props;
---

<div>
  <SearchBar client:load boards={boards} />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      boards.map((board) => (
        <div
          class="board-card"
          data-product={board.product}
          data-cpu={board.cpu}
          data-cpu-core={board.cpu_core}
        >
          <a
            href={getRelativeLocaleUrl(lang, `board/${board.dir}`, {
              normalizeLocale: false,
            })}
            class=""
          >
            <Card className="hover:shadow-lg hover:bg-muted transition-shadow h-full">
              <CardHeader>
                <CardTitle className="text-lg">{board.product}</CardTitle>
                <CardDescription />
              </CardHeader>
              <CardContent>
                <div class="space-y-2 text-sm text-muted-foreground">
                  <div class="grid grid-cols-4">
                    <span>{t("cpu")}</span>
                    <span class="col-span-3">{board.cpu}</span>
                  </div>
                  <div class="grid grid-cols-4">
                    <span>{t("core")}</span>
                    <span class="col-span-3">{board.cpu_core}</span>
                  </div>
                </div>
              </CardContent>
            </Card>
          </a>
        </div>
      ))
    }
  </div>

  <div id="no-results" class="text-center p-8 border rounded-lg mt-8 hidden">
    <p class="text-muted-foreground">
      No boards found matching your search criteria.
    </p>
  </div>
</div>
